.rodapie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: auto;
    background: #103D4A;
}

.rodapie__cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.rodapie__cont--text{
    font-family: 'Raleway';
    font-size: 18px;
    color: #fff;
    padding-bottom: 2%;
    padding-top: 2%;
}